@model IEnumerable<Core.DTO.MaterialDTO>

@{
    ViewData["Title"] = "Iní­cio Material";
    Layout = "_LayoutInside";
}

<h1>Lista de Materiais</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo Material</a>
</p>
<div class="card">
    <div class="card-body">
        <table id="material" class="table table-bordered table-striped dataTable" role="grid">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoMaterial)
                    </th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoMaterial)
                        </td>
                        <td>
                            @Html.ActionLink("", "Edit", new { id = item.Id }, new { @class = "fas fa-edit" })
                            @Html.ActionLink("", "Details", new { id = item.Id }, new { @class = "fas fa-eye" })
                            @Html.ActionLink("", "Delete", new { id = item.Id }, new { @class = "fas fa-trash-alt" })
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Código
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>Ação</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@section Scripts {

<script type="text/javascript">

    $(document).ready( function () {
        $('#material').DataTable({
            language: {
                url: '/DataTables/plugins/pt_br.json'
            },
            columnDefs: [{
                targets: 3,
                orderable: false
            }]
        });
    } ); 

</script>

}
